#info{
	background: #A6ACAF;
	color: #E67E22;
	text-align: center;
	padding: 20px;
}

#info h2 {

	font-size: 70px;
	font-family: "Algerian";
	color: #E67E22;
	text-shadow:  -4px 2px 0 #0a0e27;
}

#info p {
	font-size: 30px;
	color: #E67E22;
	text-shadow:  -4px 2px 0 #0a0e27;
}

#info .contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
}

.info-mas{
	margin: 20px;
}

.info-mas img {
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border: 7px solid #fff;
}
h4{
	color: black;
}

